form {
    margin: 20px 30px;
}

form h1 {
    font-weight: bold;
}

form label {
    font-size: 18px;
}

form .input-group-text {
    font-size: 20px;
}

form input::placeholder {
    color: #bbb!important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

form .btn-lg {
    font-weight: 500;
}