{% extends "base.html" %}

{% set css = ["login.css"] %}

{% block body %}
	<div class="login-block d-flex align-items-center justify-content-center">
        <form action="" method="post">
            <div class="login-logo">
                 <svg xmlns="http://www.w3.org/2000/svg" width="65" height="65" fill="currentColor" class="bi bi-sunglasses" viewBox="0 0 16 16">
                    <path d="M3 5a2 2 0 0 0-2 2v.5H.5a.5.5 0 0 0 0 1H1V9a2 2 0 0 0 2 2h1a3 3 0 0 0 3-3 1 1 0 1 1 2 0 3 3 0 0 0 3 3h1a2 2 0 0 0 2-2v-.5h.5a.5.5 0 0 0 0-1H15V7a2 2 0 0 0-2-2h-2a2 2 0 0 0-1.888 1.338A2 2 0 0 0 8 6a2 2 0 0 0-1.112.338A2 2 0 0 0 5 5zm0 1h.941c.264 0 .348.356.112.474l-.457.228a2 2 0 0 0-.894.894l-.228.457C2.356 8.289 2 8.205 2 7.94V7a1 1 0 0 1 1-1">
                    </path></svg><span>{{ PROJECT_NAME }}</span>
            </div>
            <label>
                <input type="email" placeholder=" ">
                <span>Email (почта)</span>
            </label>
            <label>
                <input type="text" placeholder=" ">
                <span>Username</span>
            </label>
            <label>
                <input type="password" placeholder=" ">
                <span>Пароль</span>
            </label>
            <label class="d-flex align-items-center">
                <input type="checkbox" hidden>
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"></path>
                    </svg>
                </span>
                Я согласен с <a href="">условиями</a>
            </label>
            <button type="submit">Регистрация</button>
        </form>
    </div>
{% endblock %}